{% extends 'base.html' %}
{% block title %}match-list{% endblock %}

{% block style %}
<style>

.match-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #003366 2px solid;
    box-sizing: border-box;
    width: 30%;


}
.match-list>* {
    margin: 10px;
}

img{
    width: 100px;
    height: 100px;
}

h4, h3{
    text-align: center;
    color: #333333;
}

</style>
{% endblock %}
{% block content %}
    <div class="match-list" >
    {% for match_user,percent in object_list %}
    <div class="match-item">
    <a href="{{ match_user.profile.get_absolute_url }}"><h4>{{ match_user.email }}</h4></a>
    <h4>{{ percent }}</h4>
{#    <img class="img-item" src='{{ match_user.profile.picture.url }}' alt='{{ match_user.username}}' />#}
    </div>
    {% endfor %}
    </div>
{% endblock %}