{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

        {% if request.user == object.user %}
        <div class="profile-btn">
            <a href="{% url 'accounts:profile-update' object.user_id %}" class="btn btn-primary btn-lg active" role="button"
               aria-pressed="true">Edit Profile</a>
            <a href="#" class="btn btn-primary btn-lg active" role="button"
               aria-pressed="true">Your Message</a>
        </div>
        {% endif %}


{#    <img src='{{ object.user.profile.picture.url }}' alt='{{ match_user.username}}'#}
{#           width="200" height="200"/>#}
    <h2>name: {{ object.user.username }}</h2>
    <h2>email: {{ object.user.email }}</h2>
    <h2>city: {{ object.city }}</h2>
    <h2>age: {{ object }}</h2>
     <h2>about: {{ object.bio }}</h2>
    {% for job in jobs %}
    <h2>job info: work as {{ job.position }} for {{ job.employer_name }} at {{ job.location }}</h2>
    {% endfor %}
    {% if request.user != object.user %}
    <h2>{{ match }}</h2>
    {% endif %}
{% endblock %}